img {
    float: left;
    height: auto;
	max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.myimgclass {
	margin: 2% 2% 2% 2%;
}

.posterwallbg {
    background-color: #224885;
}

.row-center {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
/*	width: 100%;*/
}

.offsetnav {
    padding-top: 70px;
}

.titlebg {
    background-color: rgba(188, 232, 241, 0.7);
}

#bottombuttons {
    position: absolute;
    bottom: 0;
}

#toptitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#toptitle:hover {
    text-overflow: inherit;
    overflow: visible;
}

.no-gutter > [class*='col-'] {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
 /*   margin-left: -10px;*/
}

/*.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}*/
