img {
    float: left;
    height: auto;
	max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.myimgclass {
	margin: 2% 2% 2% 2%;
}

.posterwallbg {
    background-color: #224885;
}

.row-center {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.offsetnav {
    padding-top: 30px;
}

/*.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}*/
