{% extends "base.html" %}

{% block content %}
    <div class="posterwallbg">
        <div class="row-fluid no-gutter offsetnav">
            {% for movie in movies %}
                <div class="col-xs-3 col-md-2 col-lg-2">
                    <a href="/movie/{{ movie[8] }}" title="{{ movie[4] }}">
                        <img src="https://image.tmdb.org/t/p/w342/{{ movie[12] }}" class="image-responsive myimgclass">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}