{% extends "base.html" %}

{% block content %}
	<style>
	.bg {
		<!--background: url("https://image.tmdb.org/t/p/original{{ movie[13] }}");-->
        <!--background: url('static/images/'~movie[4]~'_'~movie[5]~'_backdrop.jpg');-->
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		position: absolute;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: rgba(#333, .3);
		background-color:#333;
		opacity: 0.4;
		z-index: -1;
        <!--padding-top: -140px;-->
        <!--margin-left: -10px;-->
        margin-right: -10px;
		height: auto;
        width: 100%;
	}
	</style>
	<div class="bg">
        <img src="{{ url_for('static', filename='/images/'~movie[4]~'_'~movie[5]~'_backdrop.jpg') }}">
	</div>
		<div class="row-fluid offsetnav">
				<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
					<img src="{{ url_for('static', filename='/images/'~movie[4]~'_'~movie[5]~'_poster.jpg') }}" class="image-responseive img-rounded myimgclass">
					<!--<img src="https://image.tmdb.org/t/p/w342/{{ movie[12] }}" class="image-responsive img-rounded myimgclass">-->
				</div>
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-5">
						<h1>{{ movie[4] }}</h1>
						<div><h4><i> {{ movie[14] }}</i></h4></div><br>
                        <dl>
                            <dt>Path</dt>
                            <dd>{{ movie[3] }}</dd><br>
                            <dt>Size</dt>
                            <dd>{{ movie[2]|filesizeformat() }}</dd><br>
                            <dt>Rating</dt>
                            <dd>{{ movie[9] }}</dd><br>
                            <dt>Summary</dt>
                            <dd>{{ movie[7] }}</dd>
                        </dl>
						<!--<div><u>Path</u>: {{ movie[3] }}</div>-->
						<!--<div><u>Size</u>: {{ movie[2]|filesizeformat() }}</div>-->
						<!--<div><u>Rating</u>: {{ movie[9] }}</div>-->
						<!--<div><u>Summary</u>: {{ movie[7] }}</div><br>-->
						<a class="btn btn-success" target="_blank" href="https://www.imdb.com/title/{{ movie[8] }}" role="button">
							<span class="glyphicon glyphicon-film"></span>
							IMDb
						</a>
						<a class="btn btn-info" target="_blank" href="https://www.tmdb.org/movie/{{ movie[6] }}">
							<span class="glyphicon glyphicon-film"></span>
							TMDb
						</a>
<!-- 						<a class="btn btn-danger" target="_blank" href="https://www.youtube.com/watch?v={{ movie[10] }}" role="button">
							<span class="glyphicon glyphicon-play-circle"></span>
							Trailer
						</a> -->
				<!--</div>-->
		</div>
{% endblock %}